html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;

}

header{
    /* height: 5rem; */
    width: 100%;
    background-color: #1d7ad9;
    line-height: 5rem;
    color: #fff;
    font-size: 1.4rem;
}

.tel{
   
}
.headright{
    float: right;
    font-size: 1.5rem;
}

.login{
    display: inline-block;
    width: auto;
    padding: 0 2rem;
    border-left: 1px solid #fff;
    text-align: center;

}
.join{
    display: inline-block;
    width: auto;
    padding: 0 2rem;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    text-align: center;

}

.login:hover {
    width: 10rem;
    color: #000;
    background-color: #fff;
    text-align: center;
    /* display: inline-block; */
    padding: 0 2rem;
    margin-right: -2rem;
}
.login:hover+ .join{
    width: 7rem;
    /* display: inline-block; */
    padding: 0;
    text-align: center;
    padding-left:1rem ;
}

.join:hover{
    width: 10rem;
    color: #000;
    background-color: #fff;
    text-align: center;
    padding: 0 2rem;
}
main{
    background-color: #f9f9f9;

}

.choose{
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem 0;
}
.choose1{
    display: inline-block;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 10%;
    margin-left: 4rem;
}
.choose1:hover{
    color: #fff;
    background-color: #1d7ad9;
}

.rod{
    display: inline-block;
    width: 12rem;
    height: 0.5rem;
    background-color: #ccc;
    border-radius: 20%;
    text-align: center;
    position: relative;
    margin-top: 2rem;
}

.circle{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #ccc;
    text-align: center;
    color: #fff;
    position: absolute;
    top:-0.75rem;
    left: 5rem;
}

.word1{
    color: #ccc;
    margin-top: 2rem;
}


.step1{
    text-align: center;
    margin-right: -0.5rem;
}

.step1:hover .word1{
    color:orange;

}
.step1:hover .rod{
    background-color: orange;
}
.step1:hover .circle{
    background-color: orange;
}
.step2{
    text-align: center;
    margin-right: -0.5rem;
}
.rod2{
    display: inline-block;
    width: 12rem;
    height: 0.5rem;
    background-color: orange;
    border-radius: 20%;
    text-align: center;
    position: relative;
    margin-top: 2rem;
}
.circle2{
    display: inline-block;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: orange;
    text-align: center;
    color: #fff;
    position: absolute;
    top:-0.75rem;
    left: 5rem;
}
.word2{
    color: orange;
    margin-top: 2rem;
}
.step{
    display: flex;
    flex-direction: row-reverse;
}

