html {
    font-size: 62.5%;
}

body {
    background-color: #29bde0;
    padding: 0;
    margin: 0;
    padding-bottom: 15rem;
}

header {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    background-color: #29bde0;
}

.head {
    /* display: flex; */
    height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.box1 {
    line-height: 5rem;
    width: 100%;
    background-color: #b9e9f5;
    font-size: 1.5rem;
    padding-left: 4rem;
}

.icon3 {
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 1rem solid #b9e9f5;
}

.icon31 {
    width: 100%;
    padding-left: 5rem;
    background-color: #29bde0;
}

.word1 {
    height: 4rem;
    width: 100%;
    color: white;
    font-size: 1.3rem;
}

.word2 {
    padding-left: 4rem;
    padding-top: 1rem;
    background-color: #29bde0;
    font-size: 1.4rem;
}

.back {
    background-image: url(Back.png);
    background-size: 50%;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
}

.word {
    color: #fff;
    font-size: 2rem;
}

.false {
    background-image: url(x.png);
    background-size: 80%;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 10rem;
    z-index: 100;
    width: 100%;
    background-color: #29bde0;
}

.begin {
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 2rem;
    width: 80%;
    background-color: #fab344;
    color: #fff;
    border: none;
}

main {
    display: inline-block;
    width: 100%;
}

.show {
    height: 100vw;
}

.show1 {
    padding: 0;
    margin: 0;
    width: 23.3%;
    height: 23.3%;
    float: left;
    margin: 5%;
    background-color: #f5c97b;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    position: relative;
    border: none;
    outline: none;
    border:1px solid #fff;

}

.show4 {
    display: inline-block;
    width: 100%;
    line-height: 20vw;
    font-size: 1.8rem;

}

.show1:hover {
    background-color: #83b09a;
}

.show2 {
    display: inline-block;
    background-color: #83b09a;
    line-height: 3.3vw;
    width: 100%;
    position: absolute;
    bottom: 0;
    outline: none;
    padding: 0;
    margin: 0;

}

.show3 {
    display: inline-block;
    text-align: center;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background-color: #83b09a;
}

.ancolor {
    background-color: #83b09a !important;
}

.bccolor {
    background-color: #f5c97b !important;
}