html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    height: 5rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.6rem;
    border-bottom: 1px solid white;
    padding: 1rem;
    padding-left: 0;
    background-color: #5fc0cd;
}

.left {
    background-image: url(fangzi.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    height: 5rem;
    width: 5rem;
}

.right {
    background-image: url(gantan.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 5rem;
    background-size: 50%;
}

main {
    margin-top: 5rem;
    padding: 0 5rem;
    background-color: #5fc0cd;
}

.icon {
    display: block;
    background-image: url(winner.png);
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-top: 13rem;
    background-size: 20rem;
    background-position: 50% 112%;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 600;
    color: #fff;
}

.box2 {
    font-size: 1.3rem;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.content2 {
    text-align: left;
}

.box2>.content2>div {
    margin: 1rem 0;
}

footer {
    height: 6rem;
    width: 100%;
    background-color: rgba(153, 223, 240, 0.5);
    position: fixed;
    bottom: 0;
    text-align: center;
}

.foot {
    display: flex;
    line-height: 4rem;
}

.foot1 {
    display: inline-block;
    background-color: #f44;
    height: 4rem;
    width: 40%;
    border-radius: 8%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    top: 1rem;
    color: white;
    font-size: 1.5rem;
}

.foot2 {
    display: inline-block;
    background-color: orange;
    height: 4rem;
    width: 40%;
    border-radius: 8%;
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    top: 1rem;
    color: white;
    font-size: 1.5rem;
}

.foot3 {
    height: 6rem;
}

.down{  
    height: auto;
    background-color: white;
    padding-top: 1rem;

}

.box3{
    padding-top: 0rem;
    padding-bottom: 1rem;
    text-align: center;
}
.leftword{
    font-size: 1.3rem;
    font-weight: 600;
    margin-right: 7rem;

}
.rightword{
    color:#ccc;
    font-size: 1.2rem;
    margin-left: 5rem;

}

.box4{
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
}
.word1{
    list-style:none;
    display: inline-block;
    text-align: left;
    color:#ccc;
    font-size: 1.2rem;
    margin-left:-2rem ;
}